<div class="app-card-container">
  
    <h1>About Me</h1>
    
    <hr class="style1">
    <br>

    <div class="row">
      <div class="col-md-4">

        <%= image_tag "profile2.jpg", width:200, height: 200, alt: "profile image", class: 'profile-img' %>
      </div>

      <div class="col-md-8">
        <p>Through my 19 years of experience as a Technical Recruiter, Recruiting Manager and Managing Director, I have realized my passion for technology and have embarked down a new path as a full stack developer.</p>

        <p>It is my mission to use my past experience working with and managing dynamic teams to make me a better developer. I am driven to produce high quality web sites, applications and software the people love to use.</p>

        <p>
          <button
          class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#jobHistory"
          aria-expanded="false"
          aria-controler="jobHistory"
        >

            Job History
          </button>

          <button
          class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#education"
          aria-expanded="false"
          aria-controler="education"
        >
            Education
          </button>

          <button
          class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#training"
          aria-expanded="false"
          aria-controler="training"
        >

            Training
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="app-card-container">
            Job 1
            </div>
            <div class="app-card-container">
            Job 2
            </div>
            <div class="app-card-container">
            Job 3
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="app-card-container">
            School 1
            </div>
            <div class="app-card-container">
            School 2
            </div>
          </div>

          <div class="collapse" id="training">
            <div class="app-card-container">
            Training 1
            </div>
            <div class="app-card-container">
            Training 1
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>

