<div class="row">
  <div class="col-md-4">

    <%= image_tag "profile2.jpg", width:250, height: 250, alt: "profile image" %>
  </div>

  <div class="col-md-8">
  
    <h1>About James</h1>
    <hr>
    <div class="about-content"><p>Through my 19 years of experience as a Technical Recruiter, Recruiting Manager and Managing Director, I have realized my passion for technology and have embarked down a new path as a full stack developer.</p>

    <p>It is my mission to use my past experience working with and managing dynamic teams to make me a better developer. I am driven to produce high quality web sites, applications and software the people love to use.</p>
    </div>
  </div>
</div>

