<div class="inner cover">
  <h1 class="cover-heading">Thanks for visiting.</h1>
  <p class="lead">My journey started on a very different path. As I move forward on my new career path, I would like to share my trials, tribulations and learning experience.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>